# ignore the API key
apikey

# text editor stuff
*~
_retired/*

# python stuff
*.pyc
.ipynb_checkpoints/*

# virtualenv
env/*

# zipped data
merchant_data/*.zip

# ds store
**/.DS_STORE

# exclude actual data
DATA/*
