{"swagger":"2.0","info":{"title":"","version":"2.0.0"},"basePath":"/","host":"api.reimaginebanking.com","schemes":["http"],"produces":["application/json"],"paths":{"/accounts":{"get":{"tags":["Account"],"summary":"Get all accounts","description":"Returns the accounts that have been assigned to you.","parameters":[{"in":"query","name":"type","description":"Empty Param will return all types of accounts. Type of accounts that can be fetched (options: Credit Card, Savings, Checking)","required":false,"type":"string","enum":["Checking","Credit Card","Savings"]}],"responses":{"200":{"description":"An array of accounts","schema":{"type":"array","items":{"$ref":"#/definitions/account"}}},"404":{"description":"error fetching accounts","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}":{"get":{"tags":["Account"],"parameters":[{"in":"path","name":"id","description":"ID of account that needs to be fetched","required":true,"type":"string"}],"summary":"Get account by id","description":"Returns the account with the specific id","responses":{"200":{"description":"an account based on id","schema":{"$ref":"#/definitions/account"}},"404":{"description":"account id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Account"],"parameters":[{"in":"path","name":"id","description":"ID of account that needs to be fetched","required":true,"type":"string"},{"in":"body","name":"body","description":"Updated account object","required":true,"schema":{"$ref":"#/definitions/account-put"}}],"summary":"Update a specific existing account","description":"Updates the specific account","responses":{"202":{"description":"account updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account id does not exist","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Account"],"parameters":[{"in":"path","name":"id","description":"ID of account that needs to be fetched","required":true,"type":"string"}],"summary":"Delete a specific existing account","description":"Deletes the specific account","responses":{"204":{"description":"account deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/customers/{id}/accounts":{"post":{"tags":["Account"],"summary":"Create an account","description":"Creates an account for the customer with the id provided","parameters":[{"in":"path","name":"id","description":"ID of customer that account will belong to","required":true,"type":"string"},{"in":"body","name":"body","description":"Account to be created","required":true,"schema":{"$ref":"#/definitions/account-post"}}],"responses":{"201":{"description":"A success response","schema":{"$ref":"#/definitions/error"}},"404":{"description":"customer not found","schema":{"$ref":"#/definitions/error"}}}},"get":{"tags":["Account"],"parameters":[{"in":"path","name":"id","description":"ID of customer to fetch accounts for","required":true,"type":"string"}],"summary":"Get accounts by customer id","description":"Returns the accounts associated with the specific customer","responses":{"200":{"description":"accounts based on customer id","schema":{"type":"array","items":{"$ref":"#/definitions/account"}}},"404":{"description":"customer id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/customer":{"get":{"tags":["Customer"],"summary":"Get customer that owns the specified account","description":"Returns the customer that the account belongs to.","parameters":[{"in":"path","name":"id","description":"ID of customer that account will belong to","required":true,"type":"string"}],"responses":{"200":{"description":"a customer based on id","schema":{"$ref":"#/definitions/customer"}},"404":{"description":"error fetching accounts","schema":{"$ref":"#/definitions/error"}}}}},"/atms":{"get":{"tags":["ATM"],"summary":"Get all ATMs","description":"Returns all of the Capital One ATMs in the speified search area.","parameters":[{"in":"query","name":"lat","description":"Latitude of where you're looking for an ATM. Remember Negatives for West","required":false,"type":"number","format":"float","default":"38.9283"},{"in":"query","name":"lng","description":"Longitude of where you're looking for an ATM. Remember Negatives for South","required":false,"type":"number","format":"float","default":"-77.1753"},{"in":"query","name":"rad","description":"Search radius in miles","required":false,"type":"integer","default":"1"}],"responses":{"200":{"description":"An array of ATMs","schema":{"type":"array","items":{"$ref":"#/definitions/atm"}}},"404":{"description":"error fetching ATMs","schema":{"$ref":"#/definitions/error"}}}}},"/atms/{id}":{"get":{"tags":["ATM"],"parameters":[{"in":"path","name":"id","description":"ID of ATM that needs to be fetched","required":true,"type":"string"}],"summary":"Get ATM by id","description":"Returns the ATM with the specific id","responses":{"200":{"description":"an ATM based on id","schema":{"$ref":"#/definitions/atm"}},"404":{"description":"ATM id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/bills":{"get":{"tags":["Bill"],"summary":"Get all bills for a specific account","description":"Returns the bills that are tied to the specific account.","parameters":[{"in":"path","name":"id","description":"ID of account to fetch bills for","required":true,"type":"string"}],"responses":{"200":{"description":"An array of bills","schema":{"type":"array","items":{"$ref":"#/definitions/bill"}}},"404":{"description":"error fetching bills","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Bill"],"summary":"Create a bill","description":"Creates a bill for the specific account","parameters":[{"in":"path","name":"id","description":"ID of account that the bill will belong to","required":true,"type":"string"},{"in":"body","name":"body","description":"Bill to be created","required":true,"schema":{"$ref":"#/definitions/bill-post"}}],"responses":{"201":{"description":"A success response","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}}},"/bills/{billId}":{"get":{"tags":["Bill"],"parameters":[{"in":"path","name":"billId","description":"ID of the bill to fetch","required":true,"type":"string"}],"summary":"Get bill by id","description":"Returns the bill with the specific id","responses":{"200":{"description":"a bill based on id","schema":{"$ref":"#/definitions/bill"}},"404":{"description":"bill id does not exist","schema":{"$ref":"#/definitions/bill"}}}},"put":{"tags":["Bill"],"parameters":[{"in":"path","name":"billId","description":"ID of the bill to update","required":true,"type":"string"},{"in":"body","name":"body","description":"Bill to be updated. NOTE: You don't have to update all fields. Any field you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/bill-put"}}],"summary":"Update a specific existing bill","description":"Updates the specific bill","responses":{"202":{"description":"bill updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"bill id does not exist","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Bill"],"parameters":[{"in":"path","name":"billId","description":"ID of the bill to delete","required":true,"type":"string"}],"summary":"Delete a specific existing bill","description":"Deletes the specific bill","responses":{"204":{"description":"bill deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"bill id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/branches":{"get":{"tags":["Branch"],"summary":"Get all branches","description":"Returns all of the Capital One branches.","responses":{"200":{"description":"An array of branches","schema":{"type":"array","items":{"$ref":"#/definitions/branch"}}},"404":{"description":"error fetching branches","schema":{"$ref":"#/definitions/error"}}}}},"/branches/{id}":{"get":{"tags":["Branch"],"parameters":[{"in":"path","name":"id","description":"ID of branch that needs to be fetched","required":true,"type":"string"}],"summary":"Get branch by id","description":"Returns the branch with the specific id","responses":{"200":{"description":"a branch based on id","schema":{"$ref":"#/definitions/branch"}},"404":{"description":"branch id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/customers":{"get":{"tags":["Customer"],"summary":"Get all customers","description":"Returns the customers that have been assigned to you.","responses":{"200":{"description":"An array of customers","schema":{"type":"array","items":{"$ref":"#/definitions/customer"}}},"404":{"description":"error fetching customers","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Customer"],"summary":"Create a customer","description":"Creates a customer","parameters":[{"in":"body","name":"body","description":"Customer to be created","required":true,"schema":{"$ref":"#/definitions/customer-post"}}],"responses":{"201":{"description":"A success response","schema":{"$ref":"#/definitions/error"}},"400":{"description":"invalid input for customer","schema":{"$ref":"#/definitions/error"}}}}},"/customers/{id}":{"get":{"tags":["Customer"],"parameters":[{"in":"path","name":"id","description":"ID of customer that needs to be fetched","required":true,"type":"string"}],"summary":"Get customer by id","description":"Returns the customer with the specific id","responses":{"200":{"description":"a customer based on id","schema":{"$ref":"#/definitions/customer"}},"404":{"description":"customer id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Customer"],"parameters":[{"in":"path","name":"id","description":"ID of customer that needs to be fetched","required":true,"type":"string"},{"in":"body","name":"body","description":"Updated customer object. NOTE: You don't have to update all fields. Any fields you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/customer-put"}}],"summary":"Update a specific existing customer","description":"Updates the specific customer","responses":{"202":{"description":"customer updated","schema":{"$ref":"#/definitions/customer"}},"404":{"description":"customer id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/customers/{id}/bills":{"get":{"tags":["Bill"],"parameters":[{"in":"path","name":"id","description":"ID of customer to fetch bills for","required":true,"type":"string"}],"summary":"Get bills by customer id","description":"Returns the bills associated with the specific customer","responses":{"200":{"description":"bills based on customer id","schema":{"type":"array","items":{"$ref":"#/definitions/bill"}}},"404":{"description":"customer id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/data":{"delete":{"tags":["Data"],"summary":"Delete data associated with your API key.","description":"This endpoint deletes any data associated with your API key and of the type passed in as query parameters.  If you do not specify any type to delete, no data will be deleted.","parameters":[{"in":"query","name":"type","description":"Collection to delete data from","required":false,"type":"string","enum":["Accounts","Bills","Customers","Deposits","Loans","Purchases","Transfers","Withdrawals"]}],"responses":{"204":{"description":"data deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"error deleting data","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/deposits":{"get":{"tags":["Deposit"],"summary":"Get all deposits","description":"Returns the deposits that you are involved in.","parameters":[{"in":"path","name":"id","description":"ID of account associated with the deposit","required":true,"type":"string"}],"responses":{"200":{"description":"An array of deposits","schema":{"type":"array","items":{"$ref":"#/definitions/deposit"}}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Deposit"],"summary":"Create a deposit","description":"Creates a deposit where the account with the ID specified receives the amount.","parameters":[{"in":"path","name":"id","description":"ID of account receiver of deposit","required":true,"type":"string"},{"in":"body","name":"body","description":"Deposit to be created","required":true,"schema":{"$ref":"#/definitions/deposit-post"}}],"responses":{"201":{"description":"success response","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}}},"/deposits/{id}":{"get":{"tags":["Deposit"],"parameters":[{"in":"path","name":"id","description":"ID of the deposit that is being fetched","required":true,"type":"string"}],"summary":"Get deposit by id","description":"Returns the deposit with the specific id","responses":{"200":{"description":"a deposit based on id","schema":{"$ref":"#/definitions/deposit"}},"404":{"description":"deposit id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Deposit"],"parameters":[{"in":"path","name":"id","description":"ID of the deposit that is being updated","required":true,"type":"string"},{"in":"body","name":"body","description":"deposit to be updated. NOTE: You don't have to update all fields. Any fields you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/deposit-put"}}],"summary":"Update a specific existing deposit","description":"Updates the specific deposit","responses":{"202":{"description":"deposit updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"deposit id does not exist","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Deposit"],"parameters":[{"in":"path","name":"id","description":"ID of the deposit that is being deleted","required":true,"type":"string"}],"summary":"Delete a specific existing deposit","description":"Deletes the specific deposit","responses":{"204":{"description":"deposit deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"deposit id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/loans":{"get":{"tags":["Loan"],"summary":"Get all loans","description":"Returns the loans that you are involved in.","parameters":[{"in":"path","name":"id","description":"ID of account associated with the loan","required":true,"type":"string"}],"responses":{"200":{"description":"An array of loans","schema":{"type":"array","items":{"$ref":"#/definitions/loan"}}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Loan"],"summary":"Create a loan","description":"Creates a loan where the account with the ID specified is debitted.","parameters":[{"in":"path","name":"id","description":"ID of account receiver of loan","required":true,"type":"string"},{"in":"body","name":"body","description":"loan to be created","required":true,"schema":{"$ref":"#/definitions/loan-post"}}],"responses":{"201":{"description":"success response","schema":{"$ref":"#/definitions/loan-post-success"}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error-put-post"}}}}},"/loans/{id}":{"get":{"tags":["Loan"],"parameters":[{"in":"path","name":"id","description":"ID of the loan that is being fetched","required":true,"type":"string"}],"summary":"Get loan by id","description":"Returns the loan with the specific id","responses":{"200":{"description":"a loan based on id","schema":{"$ref":"#/definitions/loan"}},"404":{"description":"loan id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Loan"],"parameters":[{"in":"path","name":"id","description":"ID of the loan that is being updated","required":true,"type":"string"},{"in":"body","name":"body","description":"loan to be updated. NOTE: You don't have to update all fields. Any field you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/loan-put"}}],"summary":"Update a specific existing loan","description":"Updates the specific loan","responses":{"202":{"description":"loan updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"loan id does not exist","schema":{"$ref":"#/definitions/error-put-post"}}}},"delete":{"tags":["Loan"],"parameters":[{"in":"path","name":"id","description":"ID of the loan that is being deleted","required":true,"type":"string"}],"summary":"Delete a specific existing loan","description":"Deletes the specific loan","responses":{"204":{"description":"loan deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"loan id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/merchants":{"get":{"tags":["Merchant"],"summary":"Get all merchants","description":"Returns the merchants that have been assigned to you.","parameters":[{"in":"query","name":"lat","description":"Latitude of where you're looking for a merchant. Remember Negatives for West","required":false,"type":"number","format":"float"},{"in":"query","name":"lng","description":"Longitude of where you're looking for a merchant. Remember Negatives for South","required":false,"type":"number","format":"float"},{"in":"query","name":"rad","description":"Search radius in miles","required":false,"type":"integer"}],"responses":{"200":{"description":"An array of merchants","schema":{"type":"array","items":{"$ref":"#/definitions/merchant"}}},"404":{"description":"error fetching merchant","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Merchant"],"summary":"Create a merchant","description":"Creates a merchant","parameters":[{"in":"body","name":"body","description":"Merchant to be created","required":true,"schema":{"$ref":"#/definitions/merchant-put-post"}}],"responses":{"201":{"description":"A success response","schema":{"$ref":"#/definitions/error"}},"400":{"description":"invalid input for merchant","schema":{"$ref":"#/definitions/error"}}}}},"/merchants/{id}":{"get":{"tags":["Merchant"],"parameters":[{"in":"path","name":"id","description":"ID of merchant that needs to be fetched","required":true,"type":"string"}],"summary":"Get merchant by id","description":"Returns the merchant with the specific id","responses":{"200":{"description":"a merchant based on id","schema":{"$ref":"#/definitions/merchant"}},"404":{"description":"merchant id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Merchant"],"parameters":[{"in":"path","name":"id","description":"ID of merchant that needs to be fetched","required":true,"type":"string"},{"in":"body","name":"body","description":"Updated merchant object. NOTE: You don't have to update all fields. Any field you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/merchant-put-post"}}],"summary":"Update a specific existing merchant","description":"Updates the specific merchant","responses":{"202":{"description":"merchant updated","schema":{"$ref":"#/definitions/merchant"}},"404":{"description":"merchant id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/purchases":{"get":{"tags":["Purchase"],"summary":"Get all purchases","description":"Returns the purchases that you are involved in.","parameters":[{"in":"path","name":"id","description":"ID of account associated with the purchase","required":true,"type":"string"}],"responses":{"200":{"description":"An array of purchases","schema":{"type":"array","items":{"$ref":"#/definitions/purchase"}}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Purchase"],"summary":"Create a purchase","description":"Creates a purchase where the account with the ID specified is the payer.","parameters":[{"in":"path","name":"id","description":"ID of account payer in purchase","required":true,"type":"string"},{"in":"body","name":"body","description":"Purchase to be created","required":true,"schema":{"$ref":"#/definitions/purchase-post"}}],"responses":{"201":{"description":"success response","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}}},"/purchases/{id}":{"get":{"tags":["Purchase"],"parameters":[{"in":"path","name":"id","description":"ID of the purchase that is being fetched","required":true,"type":"string"}],"summary":"Get purchase by id","description":"Returns the purchase with the specific id","responses":{"200":{"description":"a purchase based on id","schema":{"$ref":"#/definitions/purchase"}},"404":{"description":"purchase id does not exist","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Purchase"],"parameters":[{"in":"path","name":"id","description":"ID of the purchase that is being deleted","required":true,"type":"string"}],"summary":"Delete a specific existing purchase","description":"Deletes the specific purchase","responses":{"204":{"description":"purchase deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"purchase id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Purchase"],"parameters":[{"in":"path","name":"id","description":"ID of the purchase that is being updated","required":true,"type":"string"},{"in":"body","name":"body","description":"Purchase to be updated. NOTE: You don't have to update all fields. Any field you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/purchase-put"}}],"summary":"Update a specific existing purchase","description":"Updates the specific purchase","responses":{"202":{"description":"purchase updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"purchase id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/merchants/{id}/purchases":{"get":{"tags":["Purchase"],"summary":"Get all purchases by merchant","description":"Returns the purchases that a merchant is involved in.","parameters":[{"in":"path","name":"id","description":"ID of the merchant associated with all the purchases","required":true,"type":"string"}],"responses":{"200":{"description":"An array of purchases","schema":{"type":"array","items":{"$ref":"#/definitions/purchase"}}},"404":{"description":"merchant or purchases not found","schema":{"$ref":"#/definitions/error"}}}}},"/merchants/{id}/accounts/{accountId}/purchases":{"get":{"tags":["Purchase"],"summary":"Get all purchases by account and merchant","description":"Returns the purchases that a merchant is involved in.","parameters":[{"in":"path","name":"id","description":"ID of the merchant associated with all the purchases","required":true,"type":"string"},{"in":"path","name":"accountId","description":"ID of the account associated with all the purchases","required":true,"type":"string"}],"responses":{"200":{"description":"An array of purchases","schema":{"type":"array","items":{"$ref":"#/definitions/purchase"}}},"404":{"description":"merchant or purchases not found","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/transfers":{"get":{"tags":["Transfer"],"summary":"Get all transfers","description":"Returns the transfers that you are involved in.","parameters":[{"in":"path","name":"id","description":"ID of account associated with the transfer","required":true,"type":"string"},{"in":"query","name":"type","description":"When param is empty, will return transfers associated with account where account is payer AND payee. Otherwise based on value, request returns transfers where the account is the payer OR payee","required":false,"type":"string","enum":["payer","payee"]}],"responses":{"200":{"description":"An array of transfers","schema":{"type":"array","items":{"$ref":"#/definitions/transfer"}}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Transfer"],"summary":"Create a transfer","description":"Creates a transfer where the account with the ID specified is the payer.","parameters":[{"in":"path","name":"id","description":"ID of account payer in transfer","required":true,"type":"string"},{"in":"body","name":"body","description":"Transfer to be created","required":true,"schema":{"$ref":"#/definitions/transfer-post"}}],"responses":{"201":{"description":"success response","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}}},"/transfers/{transferId}":{"get":{"tags":["Transfer"],"parameters":[{"in":"path","name":"transferId","description":"ID of the transfer that is being fetched","required":true,"type":"string"}],"summary":"Get transfer by id","description":"Returns the transfer with the specific id","responses":{"200":{"description":"a transfer based on id","schema":{"$ref":"#/definitions/transfer"}},"404":{"description":"transfer id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Transfer"],"parameters":[{"in":"path","name":"transferId","description":"ID of the transfer that is being updated","required":true,"type":"string"},{"in":"body","name":"body","description":"Transfer to be updated. NOTE: You don't have to update all fields. Any field you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/transfer-put"}}],"summary":"Update a specific existing transfer","description":"Updates the specific transfer","responses":{"202":{"description":"transfer updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"transfer id does not exist","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Transfer"],"parameters":[{"in":"path","name":"transferId","description":"ID of the transfer that is being deleted","required":true,"type":"string"}],"summary":"Delete a specific existing transfer","description":"Deletes the specific transfer","responses":{"204":{"description":"transfer deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"transfer id does not exist","schema":{"$ref":"#/definitions/error"}}}}},"/accounts/{id}/withdrawals":{"get":{"tags":["Withdrawal"],"summary":"Get all withdrawals","description":"Returns the withdrawals that you are involved in.","parameters":[{"in":"path","name":"id","description":"ID of account associated with the withdrawal","required":true,"type":"string"}],"responses":{"200":{"description":"An array of withdrawals","schema":{"type":"array","items":{"$ref":"#/definitions/withdrawal"}}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Withdrawal"],"summary":"Create a withdrawal","description":"Creates a withdrawal where the account with the ID specified is debitted.","parameters":[{"in":"path","name":"id","description":"ID of account receiver of withdrawal","required":true,"type":"string"},{"in":"body","name":"body","description":"Withdrawal to be created","required":true,"schema":{"$ref":"#/definitions/withdrawal-post"}}],"responses":{"201":{"description":"success response","schema":{"$ref":"#/definitions/error"}},"404":{"description":"account not found","schema":{"$ref":"#/definitions/error"}}}}},"/withdrawals/{id}":{"get":{"tags":["Withdrawal"],"parameters":[{"in":"path","name":"id","description":"ID of the withdrawal that is being fetched","required":true,"type":"string"}],"summary":"Get withdrawal by id","description":"Returns the withdrawal with the specific id","responses":{"200":{"description":"a withdrawal based on id","schema":{"$ref":"#/definitions/withdrawal"}},"404":{"description":"withdrawal id does not exist","schema":{"$ref":"#/definitions/error"}}}},"put":{"tags":["Withdrawal"],"parameters":[{"in":"path","name":"id","description":"ID of the withdrawal that is being updated","required":true,"type":"string"},{"in":"body","name":"body","description":"withdrawal to be updated. NOTE: You don't have to update all fields. Any field you don't include in the body will stay the same","required":true,"schema":{"$ref":"#/definitions/withdrawal-put"}}],"summary":"Update a specific existing withdrawal","description":"Updates the specific withdrawal","responses":{"202":{"description":"withdrawal updated","schema":{"$ref":"#/definitions/error"}},"404":{"description":"withdrawal id does not exist","schema":{"$ref":"#/definitions/error"}}}},"delete":{"tags":["Withdrawal"],"parameters":[{"in":"path","name":"id","description":"ID of the withdrawal that is being deleted","required":true,"type":"string"}],"summary":"Delete a specific existing withdrawal","description":"Deletes the specific withdrawal","responses":{"204":{"description":"withdrawal deleted","schema":{"$ref":"#/definitions/error"}},"404":{"description":"withdrawal id does not exist","schema":{"$ref":"#/definitions/error"}}}}}},"definitions":{"account":{"properties":{"_id":{"type":"string","description":"Account unique identifier","minLength":24,"maxLength":24},"type":{"type":"string","enum":["Credit Card","Savings","Checking"],"description":"Type asscociated with account"},"nickname":{"type":"string","description":"Nickname associated with account"},"rewards":{"type":"integer","minimum":0,"description":"Reward points associated with account"},"balance":{"type":"integer","minimum":0,"description":"Balance associated with account"},"account_number":{"minLength":16,"maxLength":16,"type":"string","description":"16 digit Account Number that is associated with the account e.g. a Credit Card Number"},"customer_id":{"type":"string","description":"ID of customer who owns the account"}}},"account-put":{"required":["nickname"],"properties":{"nickname":{"type":"string","description":"Nickname associated with account"},"account_number":{"minLength":16,"maxLength":16,"type":"string","description":"16 digit Account Number that is associated with the account e.g. a Credit Card Number"}}},"account-post":{"required":["type","balance","rewards","nickname"],"properties":{"type":{"type":"string","enum":["Credit Card","Savings","Checking"],"description":"Account type associated with account e.g. savings, checking, etc"},"nickname":{"type":"string","description":"Nickname associated with account"},"rewards":{"type":"integer","minimum":0,"description":"Reward points associated with account"},"balance":{"type":"integer","minimum":0,"description":"Initial account balance"},"account_number":{"minLength":16,"maxLength":16,"type":"string","description":"16 digit Account Number that is associated with the account e.g. a Credit Card Number"}}},"address":{"required":["street_number","street_name","city","state","zip"],"properties":{"street_number":{"type":"string","description":"Street number of address"},"street_name":{"type":"string","description":"Street name of address"},"city":{"type":"string","description":"City name of address"},"state":{"type":"string","minLength":2,"maxLength":2,"description":"Two letter abbreviated state of address"},"zip":{"type":"string","minLength":5,"maxLength":5,"description":"Five digit zip code of address"}}},"atm":{"properties":{"_id":{"type":"string","description":"ATM unique identifier","minLength":24,"maxLength":24},"name":{"type":"string","description":"Unique nickname associated with ATM"},"language_list":{"type":"array","description":"Supported language on ATM","items":{"type":"string"}},"geocode":{"$ref":"#/definitions/geocode","description":"Longitude and Latitude of ATM Address"},"hours":{"type":"array","description":"Hours of Operation of ATM","items":{"type":"string"}},"accessibility":{"type":"boolean","description":"Indicates if accessibility is supported on atm e.g. physical accessibility"},"amount_left":{"type":"integer","description":"Amount of money left in ATM"}}},"bill":{"properties":{"_id":{"type":"string","description":"Bill unique identifier","minLength":24,"maxLength":24},"status":{"type":"string","enum":["pending","cancelled","completed","recurring"],"description":"Status of the bill e.g. completed, recurring, etc"},"payee":{"type":"string","description":"The entity the bill will be paid to. Example: Comcast, Washington Gas"},"nickname":{"type":"string","description":"A nickname for the bill to help you identify it"},"creation_date":{"type":"string","format":"date","description":"When the bill was created"},"payment_date":{"type":"string","format":"date","description":"Date when bill is going to be paid or was paid. e.g. 1/30/2014"},"recurring_date":{"type":"integer","minimum":1,"maximum":31,"description":"Day of month bill will recur, e.g. 15th of every month. It can only be from 1 to 31"},"upcoming_payment_date":{"type":"string","format":"date","description":"Next bill payment date, calculated from recurring date. e.g. 1/3/2014"},"payment_amount":{"type":"double","minimum":0.01,"description":"Bill amount"},"account_id":{"type":"string","description":"ID of account that this bill is associated with"}}},"bill-put":{"required":["status","payee","nickname","payment_date","recurring_date","payment_amount"],"properties":{"status":{"type":"string","enum":["pending","cancelled","completed","recurring"],"description":"Status of the bill e.g. completed, recurring, etc"},"payee":{"type":"string","description":"The entity the bill will be paid to. Example: Comcast, Washington Gas"},"nickname":{"type":"string","description":"A nickname for the bill to help you identify it"},"payment_date":{"type":"string","format":"date","description":"Date when bill is going to be paid or was paid. e.g. 1/30/2014"},"recurring_date":{"type":"integer","default":1,"minimum":1,"maximum":31,"description":"Date of month bill will recur, e.g. 15th of every month"},"payment_amount":{"type":"double","minimum":0.01,"description":"Bill amount"}}},"bill-post":{"required":["status","payee","payment_amount"],"properties":{"status":{"type":"string","enum":["pending","cancelled","completed","recurring"],"description":"Status of the bill e.g. completed, recurring, etc"},"payee":{"type":"string","description":"The entity the bill will be paid to. Example: Comcast, Washington Gas"},"nickname":{"type":"string","description":"A nickname for the bill to help you identify it"},"payment_date":{"type":"string","format":"date","description":"Date when bill is going to be paid or was paid. e.g. 1/30/2014"},"recurring_date":{"type":"integer","default":1,"minimum":1,"maximum":31,"description":"Date of month bill will recur, e.g. 15th of every month"},"payment_amount":{"type":"double","minimum":0.01,"description":"Bill amount"}}},"branch":{"properties":{"_id":{"type":"string","description":"branch unique identifier","minLength":24,"maxLength":24},"name":{"type":"string","description":"Unique nickname associated with branch"},"hours":{"type":"array","description":"Hours of Operation for the branch","items":{"type":"string"}},"phone_number":{"type":"string","description":"Phone number of the branch"},"address":{"$ref":"#/definitions/address","description":"Address of branch"}}},"customer":{"properties":{"_id":{"type":"string","description":"Customer unique identifier","minLength":24,"maxLength":24},"first_name":{"type":"string","description":"First name of customer"},"last_name":{"type":"string","description":"Last name of customer"},"address":{"$ref":"#/definitions/address","description":"Address of customer"}}},"customer-put":{"required":["address"],"properties":{"address":{"$ref":"#/definitions/address","description":"Address associated with customer"}}},"customer-post":{"required":["first_name","last_name","address"],"properties":{"first_name":{"type":"string","description":"First name of customer"},"last_name":{"type":"string","description":"Last name of customer"},"address":{"$ref":"#/definitions/address","description":"Address associated with customer"}}},"deposit":{"required":["_id","type","transaction_date","payee_id","medium","status","amount","description"],"properties":{"_id":{"type":"string","description":"Deposits unique identifier","minLength":24,"maxLength":24},"type":{"type":"string","enum":["p2p","deposit","withdrawal"],"description":"Type of transaction: p2p, deposit, or withdrawal"},"transaction_date":{"type":"string","format":"date","description":"Timestamp of deposit execution"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of the deposit"},"payee_id":{"type":"string","description":"id of payee account","minLength":24,"maxLength":24},"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of deposit: balance, rewards, or deposit"},"amount":{"type":"double","minimum":0.01,"description":"Deposit amount"},"description":{"type":"string","description":"Optional description of deposit"}}},"deposit-put":{"required":["amount","medium"],"properties":{"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of deposit, balance or rewards"},"amount":{"type":"double","minimum":0.01,"description":"Deposit amount"},"description":{"type":"string","description":"Optional description of deposit"}}},"deposit-post":{"required":["amount","medium"],"properties":{"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of deposit, balance or rewards"},"transaction_date":{"type":"string","format":"date","description":"Timestamp of deposit execution"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of the deposit"},"amount":{"type":"double","minimum":0.01,"description":"Deposit amount"},"description":{"type":"string","description":"Optional description of deposit"}}},"error":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"fields":{"type":"string"}}},"geocode":{"required":["lat","lng"],"properties":{"lat":{"type":"number","format":"float","minimum":-90,"maximum":90,"description":"latitude of ATM's address."},"lng":{"type":"number","format":"float","minimum":-180,"maximum":180,"description":"longitude of ATM's address."}}},"loan":{"required":["_id","type","status","credit_score","monthly_payment","amount"],"properties":{"_id":{"type":"string","description":"Loan unique identifier","minLength":24,"maxLength":24},"type":{"type":"string","enum":["home","auto","small business"],"description":"Type of loan: auto, home, or small business"},"creation_date":{"type":"string","format":"date","description":"Timestamp of loan execution"},"status":{"type":"string","enum":["pending","approved","declined"],"description":"Status of loan e.g. pending, approved, declined"},"credit_score":{"type":"integer","description":"credit score","default":687,"minimum":300,"maximum":850},"monthly_payment":{"type":"double","default":25,"minimum":0.01,"description":"Monthly payment amount"},"amount":{"type":"integer","default":100,"minimum":1,"description":"Loan amount"},"description":{"type":"string","description":"Optional description of loan"}}},"loan-put":{"required":[],"properties":{"type":{"type":"string","enum":["home","auto","small business"],"description":"Type of loan: auto, home, or small business"},"status":{"type":"string","enum":["pending","approved","declined"],"description":"Status of loan e.g. pending, approved, declined"},"credit_score":{"type":"integer","description":"credit score","default":687,"minimum":300,"maximum":850},"monthly_payment":{"type":"double","default":25,"minimum":0.01,"description":"Monthly payment amount"},"amount":{"type":"integer","default":100,"minimum":1,"description":"Loan amount"}}},"loan-post":{"required":["type","status","credit_score","monthly_payment","amount"],"properties":{"type":{"type":"string","enum":["home","auto","small business"],"description":"Type of loan: auto, home, or small business"},"status":{"type":"string","enum":["pending","approved","declined"],"description":"Status of loan e.g. pending, approved, declined"},"credit_score":{"type":"integer","description":"credit score","default":687,"minimum":300,"maximum":850},"monthly_payment":{"type":"double","default":25,"minimum":0.01,"description":"Monthly payment amount"},"amount":{"type":"integer","default":100,"minimum":1,"description":"Loan amount"},"description":{"type":"string","description":"Optional description of loan"}}},"merchant":{"required":["name"],"properties":{"_id":{"type":"string","description":"Merchant unique identifier","minLength":24,"maxLength":24},"name":{"type":"string","description":"Name associated with the merchant"},"category":{"type":"string","description":"Category associated with the merchant"},"address":{"$ref":"#/definitions/address","description":"Address where the merchant is located"},"geocode":{"$ref":"#/definitions/geocode","description":"Longitude and Latitude of Merchant Address"}}},"merchant-put-post":{"required":["name"],"properties":{"name":{"type":"string","description":"Name associated with the merchant"},"category":{"type":"string","description":"Category associated with the merchant"},"address":{"$ref":"#/definitions/address","description":"Address where the merchant is located"},"geocode":{"$ref":"#/definitions/geocode","description":"Longitude and Latitude of Merchant Address"}}},"customer-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/customer"}}},"account-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/account"}}},"bill-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/bill"}}},"deposit-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/deposit"}}},"merchant-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/merchant"}}},"purchase-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/purchase"}}},"loan-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/loan"}}},"transfer-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/transfer"}}},"withdrawal-post-success":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"objectCreated":{"$ref":"#/definitions/withdrawal"}}},"purchase":{"required":["_id","type","purchase_date","status","medium","payer_id","merchant_id","amount"],"properties":{"_id":{"type":"string","description":"Purchase unique identifier","minLength":24,"maxLength":24},"type":{"type":"string","enum":["merchant","deposit","withdrawal","p2p"],"description":"Type of transaction: p2p, deposit, withdrawal or merchant"},"merchant_id":{"type":"string","description":"id of merchant account","minLength":24,"maxLength":24},"payer_id":{"type":"string","description":"id of payer account","minLength":24,"maxLength":24},"purchase_date":{"type":"string","format":"date","description":"Timestamp of purchase"},"amount":{"type":"integer","minimum":0,"description":"Purchase amount"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of purchase e.g. pending, completed, etc"},"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of purchase, balance or rewards"},"description":{"type":"string","description":"Optional description of purchase"}}},"purchase-put":{"required":["payer_id","medium","amount"],"properties":{"payer_id":{"type":"string","description":"id of payer account","minLength":24,"maxLength":24},"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of purchase, balance or rewards"},"amount":{"type":"integer","minimum":0,"description":"Purchase amount"},"description":{"type":"string","description":"Optional description of purchase"}}},"purchase-post":{"required":["merchant_id","medium","amount"],"properties":{"merchant_id":{"type":"string","description":"id of merchant account","minLength":24,"maxLength":24},"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of purchase, balance or rewards"},"purchase_date":{"type":"string","format":"date","description":"Timestamp of purchase"},"amount":{"type":"integer","minimum":0,"description":"Purchase amount"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of purchase e.g. pending, completed, etc"},"description":{"type":"string","description":"Optional description of purchase"}}},"transfer":{"required":["_id","type","transaction_date","status","medium","payer_id","payee_id","amount"],"properties":{"_id":{"type":"string","description":"Transactions unique identifier","minLength":24,"maxLength":24},"type":{"type":"string","enum":["p2p","deposit","withdrawal"],"description":"Type of transaction: p2p, deposit, or withdrawal"},"transaction_date":{"type":"string","format":"date","description":"Timestamp of transaction execution"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of transaction e.g. pending, completed, etc"},"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of transaction, balance or rewards"},"payer_id":{"type":"string","description":"id of payer account","minLength":24,"maxLength":24},"payee_id":{"type":"string","description":"id of payee account","minLength":24,"maxLength":24},"amount":{"type":"double","minimum":0.01,"description":"Transaction amount"},"description":{"type":"string","description":"Optional description of transaction"}}},"transfer-put":{"required":["medium","payee_id","amount"],"properties":{"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of transaction, balance or rewards"},"payee_id":{"type":"string","description":"id of payee account","minLength":24,"maxLength":24},"amount":{"type":"double","minimum":0.01,"description":"Transaction amount"},"description":{"type":"string","description":"Optional description of transaction"}}},"transfer-post":{"required":["medium","payee_id","amount"],"properties":{"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of transaction, balance or rewards"},"payee_id":{"type":"string","description":"id of payee account","minLength":24,"maxLength":24},"amount":{"type":"double","minimum":0.01,"description":"Transaction amount"},"transaction_date":{"type":"string","format":"date","description":"Timestamp of transaction execution"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of transaction e.g. pending, completed, etc"},"description":{"type":"string","description":"Optional description of transaction"}}},"withdrawal":{"required":["_id","type","transaction_date","payer_id","medium","status","amount","description"],"properties":{"_id":{"type":"string","description":"Withdrawal's unique identifier","minLength":24,"maxLength":24},"type":{"type":"string","enum":["p2p","deposit","withdrawal"],"description":"Type of withdrawal: p2p, deposit, or withdrawal"},"transaction_date":{"type":"string","format":"date","description":"Timestamp of withdrawal execution"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of the withdrawal"},"payer_id":{"type":"string","description":"id of payer account","minLength":24,"maxLength":24},"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of withdrawal: balance, rewards, or deposit"},"amount":{"type":"integer","minimum":1,"description":"Withdrawal amount"},"description":{"type":"string","description":"Optional description of withdrawal"}}},"withdrawal-put":{"required":["amount","medium"],"properties":{"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of withdrawal, balance or rewards"},"amount":{"type":"integer","minimum":1,"description":"Withdrawal amount"},"description":{"type":"string","description":"Optional description of withdrawl"}}},"withdrawal-post":{"required":["amount","medium"],"properties":{"medium":{"type":"string","enum":["balance","rewards"],"description":"Type of withdrawal, balance or rewards"},"transaction_date":{"type":"string","format":"date","description":"Timestamp of withdrawal execution"},"status":{"type":"string","enum":["pending","cancelled","completed"],"description":"Status of the withdrawal"},"amount":{"type":"integer","minimum":1,"description":"Withdrawal amount"},"description":{"type":"string","description":"Optional description of withdrawal"}}}}}